
nav{
    background-color: var(--nav-1-background);
    padding:10px 20px;
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.logo-span{
    width: 97px;
    height:30px;
    background-image: url(../images/logo.png);
    background-repeat: repeat-x;
    display: inline-block;
    text-indent: -500px;
    background-position: -10px -51px
}

nav > div:nth-child(1){
    display: flex;
    align-items: center;
    gap:15px;
    width:180px !important;
}

nav > div:nth-child(1) > a:nth-child(2){
    display: flex;
    align-items: center;
    gap:2px;
}
nav > div:nth-child(1) > a:nth-child(2) > span{
    display: inline-block;
    background-image: url(../images/logo.png);
    background-repeat: repeat-x;
    /* text-indent: -500px; */
    background-position: -71px -378px;
    width: 15px;
    height: 18px;
}
.deliver{
    display: flex;
    flex-direction: column;
}
.deliver > span:nth-child(1){
    font-size: 12px;
    color:#CCC;
    font-weight: 400;
}
.deliver > span:nth-child(2){
    font-size: 13px;
    color:#FFF;
    font-weight: 600;
}

.last-nav{
    display: flex;
    gap:15px;
    align-items: flex-end;
    width:308px;
}
.last-nav > a:last-child{
    display:flex;
    gap:2px;
    align-items:flex-end;
    color:#fff;
}
.last-nav > a:last-child > span:first-child{
    display: flex;
    background-image: url(../images/logo.png);
    background-repeat: repeat-x;
    /* text-indent: -500px; */
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.last-nav > a:last-child > span:first-child > span{
    position: relative;
    top:-10px;
    left: 3px;
    color:var(--orange-color);
    font-weight: 600;
}
.last-nav > a:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-nav > a:nth-child(3) > span:nth-child(1){
    font-size: 12px;
    color:#CCC;
    font-weight: 400;
}
.last-nav > a:nth-child(3) > span:nth-child(2){
    font-size: 13px;
    color:#fff;
    font-weight: 600;
}
.last-nav > a:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-nav > a:nth-child(2) > span:nth-child(1){
    font-size: 12px;
    color:#CCC;
    font-weight: 400;
}
.last-nav > a:nth-child(2) > span:nth-child(2){
    font-size: 13px;
    color:#fff !important;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    gap:3px;
}


.last-nav > a:nth-child(2) > span:nth-child(2) > span:nth-child(2){
    
    display: inline-block;
    background-image: url(../images/logo.png);
    background-repeat: repeat-x;
    /* text-indent: -500px; */
    background-position: -10px -340px;
    border-style: solid;
    border-top-style: solid;
    border-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: transparent;
    border-top-color: transparent;
    border-top: 4px solid #606060;
    border-top-color: rgb(96, 96, 96);
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    top:-5px;
}

.last-nav > a:first-child{
    display: flex;
    align-items: flex-end;
    gap:3px;
}
.last-nav > a:first-child > span:nth-child(1){
    width: 24px;
    position: relative;
    display: inline-block;
    height: 18px;
    background-image: url(../images/flag.png);
    background-position: 0 -130px;
}
.last-nav > a:first-child > span:last-child{
    display: inline-block;
    background-image: url(../images/logo.png);
    background-repeat: repeat-x;
    /* text-indent: -500px; */
    background-position: -10px -340px;
    border-style: solid;
    border-top-style: solid;
    border-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: transparent;
    border-top-color: transparent;
    border-top: 4px solid #606060;
    border-top-color: rgb(96, 96, 96);
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    top:-3px;
}

.search-form{
    display: flex;
    height:40px;
    width:calc(100% - 528px);
    min-width: 461px;
}
.search-form > div{
    width:52px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    background-color: #f3f3f3;
    border-radius: 3px 0 0 3px;
}
.search-form > div > span:nth-child(1){
    color:#555;
    font-size: 13px;
}
.search-form > div > span:nth-child(2){
    display: inline-block;
    background-image: url(../images/logo.png);
    background-repeat: repeat-x;
    /* text-indent: -500px; */
    background-position: -10px -340px;
    border-style: solid;
    border-top-style: solid;
    border-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-color: transparent;
    border-top-color: transparent;
    border-top: 4px solid #606060;
    border-top-color: rgb(96, 96, 96);
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    position: relative;
    top:2px;
    
}
.search-form > span{
    display: inline-block;
    width: 45px;
    height: 40px;
    background-color: #ff9900;
    border-radius: 0 3px 3px 0;
    overflow: none;
    
}
.search-form > span > button{
    width:100%;
    height: 100%;
    background-color: transparent;
    border:none;
    outline:none;
    background-image: url(../images/logo.png);
    background-repeat: repeat-x;
    background-position: 2px -280px;
  }
   

.search-form > input[type="text"]{
    width:calc(100% - 97px);
    height: 40px;
    padding:8px;
    font-size: 16px;
    outline: none;
    border:none;
}

.second-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--nav-2-background);
    color:var(--white-color)
}

.second-nav > div:nth-child(1){
    display: none;
}

.second-nav > div:nth-child(2){
    width:100%;
    display: flex;
    gap:20px;
    padding:8px 20px;
    align-items: center;
}
.second-nav > div:nth-child(2) > a{
    font-size: 14px;
    font-weight: 600;
}
.second-nav > div:nth-child(2) > a:first-of-type{
    font-size: 17px;
}
.banner-section{
    display: flex;
    flex-direction: column;
    height: 600px;
    position: relative;
}
.banner-section > div:nth-child(1){
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  
}
.banner-section > div:nth-child(1) > img{
    width:100%;
    height: 100%;
    min-width: 100%;
    position: relative;
    transform: translate(0%);
    
}
.banner-section > div:nth-child(2){
    position: absolute;
    top: 0;
    width:100%;
    padding:3px;
    display: flex;
    justify-content: space-between;
}
.banner-section > div:nth-child(2) > span{
    height: 200px;
    width:70px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    font-size: 40px;
}

.main-section{
    display: flex;
    justify-content: center;
    top: -350px;
    position: relative;
    /* background-color: var(--main-background); */
}

.first-product-div{
    display: grid;
    gap:20px;
    width:calc( 100% - 40px);
    grid-template-columns: repeat(4, 1fr);
}
.first-product-div > div{
    height:430px;
    background-color:#fff;
   
}

.first-product-div > div:not(:last-child){
    display: flex;
    flex-direction: column;
    padding:20px 15px;
}


.first-product-div > div:nth-child(1) > h1{
    margin:0;
    font-size: 18px;
}
.first-product-div > div:nth-child(1) > div{
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    margin-top:10px;
}
.first-product-div > div:nth-child(1) > div > a{
    width:calc( 50%  - 2.5px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}
.first-product-div > div:nth-child(1) > div > a:nth-child(1) > img{
    width:170px;
    position: relative;
    left:-30px;
}
.first-product-div > div:nth-child(1) > div > a:nth-child(2) > img{
    width:170px;
    position: relative;
    right:10px;
}
.first-product-div > div:nth-child(1) > div > a:nth-child(3) {
    margin-top:30px;
}
.first-product-div > div:nth-child(1) > div > a:nth-child(4) {
    margin-top:30px;
}
.first-product-div > div:nth-child(1) > div > a:nth-child(3) > img{
    width:180px;
    position: relative;
    left:-30px;
}
.first-product-div > div:nth-child(1) > div > a:nth-child(4) > img{
    width:180px;
    position: relative;
    right:10px;
}
.first-product-div > div:nth-child(1) > div > a > span{
    font-size: 11px;
    align-self: flex-start;
}

.see-more{
    margin-top: auto;
    font-size: 13px;
}

.first-product-div > div:nth-child(2) > h1{
    margin:0;
    font-size: 18px;
}
.first-product-div > div:nth-child(2) > div{
    display:flex;
    flex-wrap:wrap;
    gap:5px;
    margin-top:10px;
}
.first-product-div > div:nth-child(2) > div > a{
    width:calc( 50%  - 2.5px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 110px;
}
.first-product-div > div:nth-child(2) > div > a:nth-child(1) > img{
    width:110px;
}
.first-product-div > div:nth-child(2) > div > a:nth-child(2) > img{
    width:80px;
}
.first-product-div > div:nth-child(2) > div > a:nth-child(3) > img{
    width:90px;
}
.first-product-div > div:nth-child(2) > div > a:nth-child(4) > img{
    width:90px;
}

.first-product-div > div:nth-child(2) > div > a > span{
    font-size: 12px;
}

.first-product-div > div:nth-child(3){
    padding:20px;
    display: flex;
    flex-direction: column;
}

.first-product-div > div:nth-child(3) > h1{
    margin:0;
    gap:20px;
}
.first-product-div > div:nth-child(3) > div{
    /* background-image: url(../images/fuji_dash.jpg); */
    height: 300px;
    width:100%;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 270px;
    
}
.first-product-div > div:nth-child(3) > div > img{
    /* height:110%;
    flex-grow: 0; */
}
.first-product-div > div:nth-child(3) > a {
    margin-top: auto;
}


.first-product-div > div:not(:last-child) > h1{
    margin-bottom: 10px;
}

.first-product-div > div:last-child{
    background-color: transparent !important;
    display: flex;
    flex-direction: column;
    padding:0 !important;
    justify-content: space-between;
}
.first-product-div > div:last-child > div{
    background-color: var(--white-color);
    padding:20px;
    padding-bottom: 23px;
    display: flex;
    flex-direction: column;
    gap:17px;
}
.first-product-div > div:last-child > div > h1{
    margin:0;
    font-size: 22px;
}
.first-product-div > div:last-child > div > button{
    padding:5px;
    font-size: 14px;
    border-radius: 7px;
    border:none;
    outline:none;
    background-color:var(--btn-color)
}



 